@{
    ViewBag.Title = "Home Page";
}

<div class="border border-light d-flex justify-content-center align-items-center">
    <div id="studentButtons">
        <a class="btn-primary" asp-controller="Admin" asp-action="RegisterStudent">Register Student</a>
        <a class="btn-primary" asp-controller="Admin" asp-action="ManageStudents">Manage Students</a>
    </div>
</div>
