@{
    ViewBag.Title = "Home Page";
}
@section css
{
    <link rel="stylesheet" href="~/css//Adminpage.css" asp-append-version="true" />
}
<div class="SectionContainer border border-light d-flex flex-column justify-content-center align-items-center p-5 m-5 bg-light">
    <div class="m-2 p-2 flex-grow-1 row">
        <h1 class="text-center">Student Management</h1>
        <a class="option rounded p-3 m-3" asp-controller="Admin" asp-action="RegisterStudent">Register Student</a>
        <a class="option rounded p-3 m-3" asp-controller="Admin" asp-action="ManageStudents">Manage Students</a>
    </div>
    <div class="m-2 p-2 flex-grow-1 row">
        <h1 class="text-center">Course Management</h1>
        <a class="option rounded p-3 m-3" asp-controller="Admin" asp-action="ManageCourses">Manage Courses</a>
    </div>
    <div class="m-2 p-2 flex-grow-1 row">
        <h1 class="text-center">Teacher Management</h1>
        <a class="option rounded p-3 m-3" asp-controller="Admin" asp-action="RegisterTeacher">Register Teacher</a>
    </div>
</div>
