@model IEnumerable<UniversityWebApp.ViewModels.StudentViewModel>
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.StudentUserName</th>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td><a class="btn btn-primary"
                    asp-controller="Admin"
                    asp-action="DetailedStudent"
                    asp-route-id="@student.StudentUserName">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
