@model UniversityWebApp.ViewModels.MajorViewModel

@section css
{
    <link rel="stylesheet" href="~/css/ManageCourses.css" asp-append-version="true"/>
}
<div class="row">
    <div class="col p-4">
        <p class="text-center">Majors</p>
        <div class="border border-primary d-flex flex-column p-4">
            <input id="searchBox" class="form-control" type="text" placeholder="Search Major">
            <div id="majors" class="d-flex flex-column p-4 h-25 overflow-auto" style="max-height:300px;">
            @foreach (var item in Model.Titles)
            {
                <div class="d-inline-flex bg-info rounded-2 m-2 justify-content-between" id="@item">
                    <p class="btn btn-success text-light m-2" onclick="majorClicked(this, '@item')">@item</p>
                        <div class="btn btn-primary m-2" onclick="editClicked('@item')"><i class="bi bi-pencil-square"></i></div>
                        <div class="btn btn-danger m-2" onclick="deleteClicked('@item')"><i class="bi bi-trash-fill"></i></div>
                </div>
            }
            </div>
            <div id="addMajor" class="btn btn-primary m-2">Add Major</div>
        </div>
    </div>
    <div class="col p-4">
        <p class="text-center">CourseTopics</p>
        <div class="border border-primary d-flex flex-column p-4">
            <input class="form-control" type="text" placeholder="Search Topic">
            <div id="topics" class="d-flex flex-column p-4 overflow-auto" style="max-height:300px;">
                
            </div>
            <button id="showTopicList" type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#topicModal" disabled>Show Topic list</button>
        </div>
    </div>
</div>
<div class="row border border-primary d-flex flex-column">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Code</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Teacher</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody id="courseList">

        </tbody>
    </table>
    <div class="d-flex flex-row">
        <button id="addCourse" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#courseModal" disabled>Add Course</button>
        <button id="deleteCourse" class="btn btn-danger m-2" disabled>Delete</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input class="form-control" type="text" placeholder="Search Topic">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBodyTopics" class="modal-body d-flex flex-column">
            </div>
            <div id="addTopic" class="btn btn-primary m-2">Add Topic</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addSelectedTopics" disabled>Add selected topics</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Course Modal-->
<div class="modal fade" id="courseModal" tabindex="-2"
     role="dialog" aria-labelledby="courseModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="border border-primary d-flex flex-column m-5 p-5 rounded-3 bg-light modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="flex-row d-flex justify-content-center">
                <div class="m-2 p-2">
            StartDate:
            <input type="date" class="form-control" required>
        </div>
                <div class="m-2 p-2">
            EndDate:
            <input type="date" class="form-control" required>
        </div>
                <div class="m-2 p-2">
            Teacher:
            <select class="form-select" id="teacherList">
            </select>
        </div>
            </div>
            <br>
            <h2>Details</h2>
            <div id="details" class="d-flex flex-column m-2">
        <div class="m-2 p-4 bg-primary-subtle rounded-3">
            <div class="row">
                <div class="text-center col" style="float: right;">
                    StartTime:
                    <input class="form-control text-center" type="time" required>
                </div>
                <div class="text-center col">
                    Duration:
                    <input class="form-control text-center" type="time">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    ScheduleDay:
                    <select class="form-select">
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                    </select>
                </div>
                <div class="col">
                    Location:
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Description:
                    <input class="form-control" type="text">
                </div>
                <div class="col">
                    Capacity:
                    <input class="form-control" type="number" max="80" min="10" required>
                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">
            <button id="addDetail" class="btn btn-primary m-2">Add Detail</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/js/ManageCourses.js" asp-append-version="true"></script>
}