@model UniversityWebApp.ViewModels.MajorViewModel


<div class="row">
    <div class="col p-4">
        <p class="text-center">Majors</p>
        <div class="border border-primary d-flex flex-column p-4">
            <input id="searchBox" class="form-control" type="text" placeholder="Search Major">
            <div id="majors" class="d-flex flex-column p-4">
            @foreach (var item in Model.Titles)
            {
                <div class="d-inline-flex bg-info rounded-2 m-2 justify-content-between" id="@item">
                    <p class="btn btn-success text-light m-2" onclick="majorClicked(this, '@item')">@item</p>
                    <div class="btn btn-primary m-2" onclick="editClicked('@item')">Edit</div>
                    <div class="btn btn-danger m-2" onclick="deleteClicked('@item')">Delete</div>
                </div>
            }
            </div>
            <div id="addMajor" class="btn btn-primary m-2">Add Major</div>
        </div>
    </div>
    <div class="col p-4">
        <p class="text-center">CourseTopics</p>
        <div class="border border-primary d-flex flex-column p-4">
            <input class="form-control" type="text" placeholder="Search Topic">
            <div id="topics" class="d-flex flex-column p-4">
                
            </div>
            <div id="addTopic" class="btn btn-primary m-2">Add Topic</div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/js/ManageCourses.js" asp-append-version="true"></script>
}