@model UniversityWebApp.Model.DTOs.AddStudentDto
@section css
{
    <link rel="stylesheet" href="~/css/Registerpage.css" asp-append-version="true" />
}
<form asp-action="RegisterStudent" class="p-3 formContainer d-flex flex-column rounded bg-light" method="post">
    <div class="form-group m-3">
        <lablel asp-for="FirstName" class="form-label">FirstName</lablel>
        <input asp-for="FirstName"  class="form-control" type="text"/>
        <span asp-validation-for="FirstName" class="text-danger"/>
    </div>
    <div class="form-group m-3">
        <lablel asp-for="LastName" class="form-label">LastName</lablel>
        <input asp-for="LastName" class="form-control" type="text" />
        <span asp-validation-for="LastName" class="text-danger" />
    </div>
    <div class="form-group m-3">
        <lablel asp-for="BirthDate" class="form-label">BirthDate</lablel>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger" />
    </div>
    <div class="form-group m-3">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGender">Gender</label>
            <select asp-for="Gender" id="inputGender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>
<button type="submit" class="btn btn-primary m-3 p-2">Register</button>
</form>
