
@{
    ViewBag.Title = "Confirmation";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <p class="border rounded">@ViewData["ConfirmMsg"]</p>
    <a asp-action="Index" class="btn-primary">Back to Home Page</a>
</body>
</html>
