@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark">
    <div class="text-center">
    <h1 class="m-3 text-light">Hi welcome to the University App</h1>
    <div class="container m-5">
        <div class="d-flex justify-content-between">
            <button class="btn bg-light p-1 fs-3"><a class="link-primary text-decoration-none" href="https://localhost:7244">Students</a></button>
            <button class="btn bg-light p-1 fs-3"><a class="link-primary text-decoration-none" href="https://localhost:7244">Teachers</a></button>
        </div>
    </div>
    </div>
</body>
</html>
