@section css {
    <link rel="stylesheet" href="~/css//Homepage.css" asp-append-version="true" />
}
<h1 class="text-center mt-5">Welcome to UniWebApp</h1>
<div class="home row align-items-center">
    <a class="panel p-3 m-3 rounded">Student Panel</a>
    <a class="panel p-3 m-3 rounded" asp-controller="Admin" asp-action="Index">Admin Panel</a>
    <a class="panel p-3 m-3 rounded">Teacher Panel</a>
</div>
