@{
    ViewBag.Title = "Confirmation";
}
<div class="bg-light justify-content-center align-items-center">
    <p class="border rounded">@ViewData["ConfirmMsg"]</p>
    <a asp-action="Index" class="btn-primary">Back to Home Page</a>
</div>
